{% extends 'base.html '%}
{% block title %}
    Confirm Password change - {{ block.super }}
{% endblock title %}
{% block content %}
    {% if validlink %}
    <h1>Confirm Password change</h1>
    <p>Enter password two times</p>
    <form role="form" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Change password" />
    </form>
    {% else %}
    <h1>Password reset unsucessful</h1>
    <p>Try another password(Hint:password must be different from previous password)</p>
    {% endif %}
{% endblock content %}