{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" class="ma2">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Apile {% block title %}Register{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Margarine|Quicksand|Dosis" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    </head>
    <body style="background-color: #EEEEEE">
        <section class="main">
            <section class="title_bar">
                <h1 class="title">Apile</h1>
            {% block nav %}
                <nav class="title_nav">
                    <a href="{% url 'index' %}">Home</a> |
                    {% if user.is_authenticated %}
                        <a href="{% url 'auth_logout' %}">Logout</a> |
                        <a href="{% url 'add_post' %}">Add Post</a> |
                        <span class="username"><a href="{% url 'user-profile' user.username %}">{{ user.get_username }}</a></span>
                    {% else %}
                        <a href="{% url 'auth_login' %}">Login</a> |
                        <a href="{% url 'registration_register' %}">Register</a>
                    {% endif %}
                </nav>
            {% endblock %}
            <section class="title_bar items-center" style="background-color: #9EEBCF; color: #001B44;">
                <div class="l-header ma3">
                    <h1 class="title" style="font-family: 'Margarine'">Apile of Puppy Posts</h1>
                </div>
                {% block nav %}
                <div class="r-header tr ma3">
                    <nav class="title_nav" style="font-family: 'Quicksand'">
                        <a href="{% url 'index' %}" class="link underline-hover navy">Home</a> |
                        {% if user.is_authenticated %}
                            <a href="{% url 'auth_logout' %}" class="link underline-hover navy">Logout</a> |
                            <span class="username"><a href="{% url 'user-profile' user.username %}" class="link underline-hover navy">{{ user.get_username }}</a></span>
                        {% else %}
                            <a href="{% url 'auth_login' %}" class="link underline-hover navy">Login</a> |
                            <a href="{% url 'registration_register' %}" class="link underline-hover navy">Register</a>
                        {% endif %}
                    </nav>
                </div>
                {% endblock %}
            </section>
            <div>
                {% if messages %}
                    {% for message in messages %}
                        <div class="justify-center ba br2 pa3 mv2 {{message.tags}}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            <section class="content">
                {% block content %}{% endblock %}
            </section>
            {% block pagination %}
                {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                    </span>
                </div>
                {% endif %}
            {% endblock %}
        </section>
    </body>
</html>