{% extends "base.html"%}
{% load staticfiles %}

{% block content %}
<div>
    <h1>placeholder for page.</h1>
    {% if postlinks %}
    <ul>
        {% for postlink in postlinks %}
            <li>
                <!-- For the href url later once views are set up -{% if postlink.url %}{{ postlink.url }}{% else %}{% url 'postlink-detail' %}{% endif %} -->
                <a href="">{{ postlink.title }}</a>{% if postlink.author %}({{ postlink.author }}){% endif %}
                <p>{{postlink.description|truncatewords:50}}</p>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>There are no posts available at this time.</p>
    {% endif %}
</div>

{% endblock %}